
//@import '_variable';
.Menu{
   display: flex; 
   justify-content: space-between;  
   margin-bottom: 60px;
   margin-top: 60px;
   @include sm(){
    display: block; 
   }
  .Menu-list{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    width: 100%;
    max-width: calc(100% / 12 * 4) !important;
    //max-width: 300px;
    color: $primary;   
    @include sm(){
      max-width: calc(100% / 12 * 12) !important;
     }
    .Menu-item{
      display:flex;
      justify-content: center;
      padding: 20px 0px;
      background-color: #fff;
      color: $primary;       
      &:nth-child(1){
        color: #fff; 
        background-color: $primary;
        &:hover{
          background-color: $primary;
        }
      }
      &:hover{
        background-color: $third;
      }
      a{
        color: $primary;
       // background-color: #fff;
       
       }
      span{
        color: $primary;
      }    
    }
    .active{
      background-color: $third !important;
    }
  }
}

.prod-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: calc(100% / 12 * 8) !important;
  @include sm(){
    //display: block !important;
    width: calc(100% / 12 * 12) !important;
    margin-right: 0px;
    margin-left: 0px;
   }
   @include xs(){
    padding: 0px 10px;
   }
   .card{
  
    margin-bottom: 20px !important;
    @include sm(){
      margin: 15px 0px !important;
    }
    @include xs(){
      width: calc(100% / 12 * 12) !important;
     }
   }
}
.banner-top-img{
  position: absolute;
  right: 40px;
  top:40px;
  width: 89px;
  height: 327px;
  @include imgSize;
  @include sm(){
    width: 59px;
    height: 218px;
  }
}

.pagination-container{ 
  text-align: right;
}

.pagination{
  //display: inline-block;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 30px;
  @include sm(){
    justify-content: center;
  }
  @include xs(){  
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .pagination-item{
    padding: 20px 0px;   
    font-size: 20px;
    border: 1px solid $third;
    @include sm(){
      padding: 20px 0px;  
    }
   }
   .pagination-link{
    padding: 16px 20px;   
     border: 1px solid $third;
     color: $primary;
     font-size: 20px;
     border: none;
     background-color: #fff;
   
     cursor: pointer;
     &.active{
      color: #fff;
      background-color: $primary;
     }
     &.disabled {
      color: #dddddd;      
     } 
     @include sm(){
     
      font-size: 22px;
    }
   }
}
