@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Roboto,'微軟正黑體',sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.col {
  width: 100% !important;
}

.col-2 {
  width: 16.666666666667% !important;
}

.col-4 {
  width: 33.3333333% !important;
}

.col-6 {
  width: 50% !important;
}

.px-0 {
  padding: 0 0px;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 70%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

.wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  margin: 5px 0px;
}

header h1 {
  margin-right: auto;
}

header h1 a {
  display: block;
  width: 200px;
  height: 41px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
}

header ul li {
  padding-right: 10px;
}

header ul li a {
  color: #3F5D45;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
}

header ul li a:hover {
  background-color: #3F5D45;
  color: #fff;
}

header .cart a {
  color: #3F5D45;
}

.bannerArea {
  position: relative;
}

.bannerArea .banner {
  width: 100%;
  height: 496px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bannerArea .category-lists {
  margin-top: -60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannerArea .category-lists .category-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Today {
  position: relative;
}

.Today .imgblur {
  width: 259px;
  height: 256px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.Today .shadow {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  opacity: .8;
  background-color: #ffe180;
}

.Today p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 24px;
  font-weight: 700;
  color: #3F5D45;
}

.popular {
  position: relative;
}

.popular .imgblur {
  width: 259px;
  height: 256px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.popular .shadow {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  opacity: .8;
  background-color: #3F5D45;
}

.popular p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 24px;
  font-weight: 700;
  color: #ffe180;
}

.newProduct {
  position: relative;
}

.newProduct .imgblur {
  width: 259px;
  height: 256px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.newProduct .shadow {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  opacity: .8;
  background-color: #3F5D45;
}

.newProduct p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 24px;
  font-weight: 700;
  color: #ffe180;
}

.depiction {
  margin-top: 30px;
  padding-top: 30px;
}

.depiction .reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.depiction .showbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 420px;
  margin-bottom: 100px;
  background-color: #EAF0ED;
}

.depiction .showbox .title {
  width: 88.94px;
  height: 303.37px;
  margin-top: -30px;
}

.depiction .showbox .img {
  margin-top: -15px;
  width: 460px;
  height: 460px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.depiction .showbox .content {
  height: 100%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 30px;
  color: #8DA291;
}

.depiction .showbox .content p {
  padding: 50px 0;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.result .show-result {
  width: 92px;
  height: 377px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#product {
  margin-bottom: 30px;
}

.prodCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 42px;
}

.prodCard .card {
  padding: 0px 10px;
}

.prodCard .card .card-img {
  position: relative;
  width: 100%;
  height: 360px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.prodCard .card .card-img .tag {
  position: absolute;
  left: 20px;
  top: 0;
  background-color: #3F5D45;
  color: #fff;
  font-size: 16px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 6px;
  padding: 10px;
}

.prodCard .card .card-img .like {
  position: absolute;
  right: 22px;
  top: 25px;
  font-size: 20px;
  color: #2C4832;
}

.prodCard .card .card-img .like:hover {
  background-color: #2C4832;
}

.prodCard .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3F5D45;
  font-size: 22px;
  padding: 14px 20px;
}

.prodCard .card .card-header .title {
  text-align: center;
  width: 70%;
  border-right: 1px solid #EAF0ED;
}

.prodCard .card .card-header .price {
  text-align: center;
  font-weight: bold;
  width: 30%;
  text-align: center;
}

.prodCard .card a {
  padding: 16px 90px;
  display: block;
  color: #3F5D45;
  background-color: #EAF0ED;
  font-weight: bold;
  font-size: 24px;
  border: 1px solid #EAF0ED;
  text-align: center;
}

.prodCard .card a:hover {
  color: #fff;
  background-color: #2C4832;
}

footer .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2C4832;
  padding: 30px 122px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .head .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .head .title .img {
  color: #2C4832;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer .head .title span {
  font-size: 24px;
  color: #fff;
  line-height: 6px;
}

footer .head .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

footer .head .email .mail-icon {
  background-color: #fff;
  color: #3F5D45;
  font-size: 24px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 20px;
  margin-right: 0;
}

footer .head .email input {
  width: 300px;
  height: 56px;
  outline: none;
  border: none;
  font-size: 22px;
}

footer .head .email button {
  width: 64px;
  height: 56px;
  background-color: #ffe180;
  color: #2C4832;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

footer .content {
  background-color: #EAF0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 122px;
}

footer .content .concact {
  margin-top: 39px;
  color: #3F5D45;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60% 40%;
      grid-template-rows: 60% 40%;
}

footer .content .concact .img {
  width: 171px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer .content .concact .text p {
  font-family: Helvetica;
  margin-bottom: 20px;
  font-weight: bold;
}

footer .content .depiction .img {
  width: 59.28px;
  height: 218px;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer .concact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3F5D45;
  font-size: 16px;
  background-color: #EAF0ED;
  padding: 15px 122px;
}

footer .concact-footer .icon a {
  font-size: 32px;
  color: #3F5D45;
}

footer .concact-footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: Times;
  font-size: 16px;
}

.Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Menu .Menu-list {
  font-size: 24px;
  font-weight: bold;
  color: #3F5D45;
}

.Menu .Menu-list .Menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 102px;
  background-color: #fff;
  color: #3F5D45;
}

.Menu .Menu-list .Menu-item:nth-child(1) {
  color: #fff;
  background-color: #3F5D45;
}

.Menu .Menu-list .Menu-item:nth-child(1):hover {
  background-color: #3F5D45;
}

.Menu .Menu-list .Menu-item:hover {
  background-color: #EAF0ED;
}

.Menu .Menu-list .Menu-item a {
  color: #3F5D45;
}

.Menu .Menu-list .Menu-item span {
  color: #3F5D45;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active {
  background-color: #EAF0ED !important;
}

section {
  margin-bottom: 60px;
}

.login-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login {
  background-color: #3F5D45;
}

.login h2 {
  color: #fff;
}

.community-link {
  padding: 17px 111px;
  height: 56px;
}
/*# sourceMappingURL=sweet.css.map */